doctype html
html
   head
     link(rel='stylesheet', href='./css/style.css')
   body
        nav 
            div 
                ul  
                    li 
                        a(href="home") Home
                    li 
                        a(href="que") Que hacemos
                    li 
                        a(href="quien") Quienes somos
                    li 
                        a(href="donde") Donde 
                    li 
                        a(href="contacto") Contacto 